.avatar_username{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
}


.logo{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:   30px;
    margin-left:16px;
}


.avatar_img_create {
    height:80px;
    width: 80px;
}

.avatar_img_moment{
    height:70px;
    width: 70px;
    margin:5px;
}

.avatar_img_change{
    height:200px;
    width: 200px;
    margin:5px;
}




.text_label{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
}

.bt_add_facebook{
    border: 2px dashed #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    position: relative;
    width: 100px;
}


.card{
     padding: 10px;
}
